h1 {
  font-family: monospace;
  font-weight: bold;
  padding-left: 400px;
}

body {
  background: #B38D97;
  align-items: center;
}

img {
  padding-left: 400px;
}

p {
  font-family: sans-serif;
  font-weight: bold;
}
